@model Project
<div class="row">
    <h2>Запись удалена</h2>
    <form asp-controller="Project" asp-action="DeleteProject" method="post" class="form-horizontal">
        <input class="btn btn-success" type="submit" value="Вернуться" asp-controller="Project" asp-action="DeleteProject"/>
    </form>
</div>