<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/23.2.5/fluent.css"/>
    <script src="https://cdn.syncfusion.com/ej2/23.2.5/dist/ej2.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <a asp-controller="Project" asp-action="ListOfProject" class="logo">Project Manager</a>
        <nav>
            <ul>
                <li><a asp-controller="Project" asp-action="ListOfProject">Проекты &bigtriangledown;</a>
                    <ul>
                        <li><a asp-controller="Project" asp-action="AddProject">Добавить</a></li>
                    </ul>
                </li>
                <li><a asp-controller="Employee" asp-action="ListOfEmployee">Сотрудники &bigtriangledown;</a>
                    <ul>
                        <li><a asp-controller="Employee" asp-action="AddEmployee">Добавить</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <ejs-scripts></ejs-scripts>
    <script src="~/js/bootstrap.bundle.js"></script>
</body>
</html>